footer.footer
	.container
		.footer__wrap
			ul.menu
				li.menu__item
					a(href='#') PRIVACY POLICY
				li.menu__item
					a(href='#') ABOUT US
				li.menu__item
					a(href='#') SUPPORT

			ul.social-icon
				li.social-icon__item
					a(href='#')
						i.fab.fa-facebook-f
				li.social-icon__item
					a(href='#')
						i.fab.fa-twitter
				li.social-icon__item
					a(href='#')
						i.fab.fa-instagram

			.footer__copyright
				small Copright © 1999 - 2019