header.header
	.container
		.header__wrap
			a(href='#').logo
			ul.menu
				li.menu__item
					a(href='#') Products 
					ul.sub-menu
						li.menu__item
							a(href='#') News
						li.menu__item
							a(href='#') Events
				li.menu__item
					a(href='#') News & Events
				li.menu__item
					a(href='#').active Support
				li.menu__item
					a(href='#') Contacts

			.block-entry
				a(href='#').block-entry__item.login login
				a(href='#').block-entry__item.registry Buy Now

			.icon-menu-mobile
				span
				span
				span

	.header__menu-mobile
		ul.menu.-mobile
			li.menu__item
				a(href='#') Products 
				ul.sub-menu
					li.menu__item
						a(href='#') News
					li.menu__item
						a(href='#') Events
			li.menu__item
				a(href='#') News & Events
			li.menu__item
				a(href='#').active Support
			li.menu__item
				a(href='#') Contacts

